
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #82b6ea;
}
.signup-div
{
    width: 650px;
    background-color: #fff;
    padding: 20px;
    margin: 0 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 6px;

}