
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #82b6ea; */
    background-image: url(../../uploades/images/bg.jpg);
    background-size: cover;
    background-position: center center;
}
.login-div
{
    width: 650px;
    background-color: #fff;
    padding: 20px;
    margin: 0 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 6px;

}
.invalid-feedback
{
    display: block !important;
}

.loadinsuccess
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}
.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
}
.loadinsuccess.active 
{
    display: block;
}
.overlay.active 
{
    display: block;
}